@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}



@font-face {
    font-family: prag;
    src: url(./Pragmatica-ExtraBold_36320.ttf);
}


*,body{
    margin: 0;
    padding: 0;
}
body{
    cursor: url(./cursor/normal.svg),auto;
}
#prevContainer{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #04123f;
}

#blured{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #04123f41;
    backdrop-filter: blur(1px);
    overflow: hidden;
    z-index: 0;
}
#container{
    height: 100%;
    width: 100%;
    /* background-color: cornsilk; */
    position: relative;
    z-index: 7;
    
}
@keyframes menu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 75%;
    margin: 10px auto 0px auto ;
    animation: menu 5s;
}
#listes{
    height: 55px;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: violet; */
}
#listes li{
    box-sizing: border-box;
    padding: 20px 10px 20px 10px;
    display: inline;
    font-size: 10px;
    font-weight: thin;
    font-family: Arial;
    color: white;
    transition: .2s ease-out;
    cursor: url(./cursor/pointer.svg),auto;
}
#listes li:hover{
    font-size: larger;
}
#listes li:not(:last-child){
    margin: 0 20px 0 0 ;
}
#logoImg{
    height: 24px;
    width: 24px;
}
#logo{
    width: 33.3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    font-family: 'Righteous', cursive;
    color: white;
    font-weight: 200;
    justify-self: flex-start;
    padding-left: 10px;
}
#logo :first-child{
    margin-right: 6px;
}
#buttons{
    width: 33.3%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px 0 0;
}
 
#buttons img{
    width: 10px;
    height: 10px;
    cursor: url(./cursor/pointer.svg),auto;
}
#social{
    margin: 0 30px 0 0;
    /* background-color: wheat; */
}
#social *{
    padding: 3px 3px 3px 3px;
    /* background-color: darkblue; */
}
#social *:not(:last-child){
    margin: 0 2px 0 0 
}
#start{
    width: 33%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.26);
    border: none;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.295);
    font-size: 10px;
    font-weight: bold;
    cursor: url(./cursor/pointer.svg),auto;
}
@keyframes bull{
    0%{
        top: 150% ;
        left: 150%;
    }
    100%{
        top: 100%;
        left: 100%;
    }
}
#bull{
    position: absolute;
    width: 800px;
    height: 720px;
    left: 100%;
    top: 100%;
    transform: translate(-100%,-100%);
    z-index: 6;
    animation: bull 2s;
    
}
#topOne{
    position: absolute;
    left: 100%;
    bottom: 350px;
    transform: translateX(-100%);
    z-index: 3;
    animation: opa 5s;

}
#topTwo{
    position: absolute;
    left: 300px;
    bottom: 270px;
    z-index: 2;
}
#plus1{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 290px;
    top: 130px;
    opacity: 90%;
    filter: blur(.5px);
    animation: rotate 7s linear infinite;
    animation: opa 5s;
}
#plus2{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 450px;
    top: 110px;
    opacity: 90%;
    filter: blur(5.5px);
    animation: opa 5s;
}
#circle{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #43f0ae33;
    border-radius: 50%;
    filter: blur(150px);
    left: 550px;
    z-index: 4; 
}
#circle2{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #43f0ae23;
    border-radius: 50%;
    filter: blur(150px);
    left: 400px;
    z-index: 2; 
}
#title{
    position: absolute;
    left: 160px;
    top: 180px;
    color: white;
    font-family: 'Raleway';
    font-size: 50px;
    z-index: 2;
}
#title2{
    position: absolute;
    left: 160px;
    top: 235px;
    color: white;
    font-family: 'Raleway';
    font-size: 50px;
    z-index: 2;
}
@keyframes titleShadow{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0.3;
    }
}
#titleShadow{
    position: absolute;
    left: 170px;
    top: 250px;
    color: transparent;
    -webkit-text-stroke: 1px #43F0AF ;
    font-family: 'Raleway';
    font-size: 50px;
    z-index: 1;
    opacity: 0.3;
    animation: titleShadow 2s;
}
@keyframes opa{
    0%{
        display: none;
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        display: unset;
        opacity: 1;
    }
}
#paragraph{
    position: absolute;
    color: rgba(255, 255, 255, 0.753);
    font-family: Arial, Helvetica, sans-serif;
    top: 340px;
    left: 165px;
    font-size: 14px;
    animation: opa 3.2s;
}
#underButton{
    position: absolute;
    left: 160px;
    top: 410px;
    animation: opa 3.9s;
}
#startTwo{
    height: 27px;
    width: 90px;
    background-color: #43F0AF;
    border: none;
    border-radius: 4px;
    font-size: 11px;
    margin-right: 8px;
    transition: 0.4s;
    cursor: url(./cursor/pointer.svg),auto;
    
}
#startTwo:hover{
    box-shadow: 0px 4px 20px #43f0ae7e;
}
#learn{
    height: 27px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.26);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 11px;
    cursor: url(./cursor/pointer.svg),auto;
}
#topThree{
    position: absolute;
    top:100%;
    right: 490px;
    transform: translateY(-100%);
    z-index: 1;
    animation: opa 5s;
}
#topFour{
    position: absolute;
    top: 100%;
    right: 440px;
    transform: translateY(-100%);
    z-index: 0;
    animation: opa 5s;
}
#testRoom{
    height: 150px;
    width: 150px;
    background-color: wheat;
}
#donbal{
    height: 40px;
    width: 40px;
    position: absolute;
    border: 3px solid #43F0AF;
    border-radius: 50%;
    z-index: 10;
    /* transform: translateX(-100%,-50%) */
}
@keyframes routate{
    20%{
        transform : skewX(-20deg)
    }
    100%{
        left: -40%;
    }    
}